.menu {
    position: fixed;
    background-color: rgb(213, 240, 240);
    height: 100vh;

    &-wrapper {
        width: fit-content;
        height: 70%;
        background: transparent !important;
    }
}

.logo {
    width: 200px;
    height: 50px;

    &-wrapper {
        margin: 24px 0 34px;
    }
}